<form action="/answer" method="get" data-turbo="false">
  <div class="d-flex align-items-end">
    <div>
      <label for="inputQuestion">Ask your coach anything:</label>
      <input type="text" name="question" class="form-control" id="inputQuestion">
    </div>
    <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>
